<%= user_settings_menu do %>
    <%= render( :partial => 'devise/shared/links', :locals => {:resource_name => 'user'}) %>
<% end %>

<h2>Edit <%= resource_name.to_s.humanize %></h2>
<br clear='right'/>
<%= image_tag(resource.avatar_url(:thumb), :class => 'avatar_right_float')  %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), 
  :html => { :method => :put}) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %>
  <%= f.text_field :email %></p>

  <p><%= f.label :nickname %>
  <%= f.text_field :nickname %></p>

  <p><%= f.label :password %> 
  <%= f.password_field :password %> <i>(leave blank if you don't want to change it)</i></p>

  <p><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password %>
  <%= f.password_field :current_password %> <i>(we need your current password to confirm your changes)</i></p>


  <p><%= f.submit "Update" %></p>
<% end %>

<h3>Cancel my account</h3>

<p>
    Unhappy? 
    <%= link_to("Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => 'link_button') %>
</p>


<%= button(link_to("Back", :back)) %>
