<h2><%= @comment.commentable.title %></h2>

<p><%= t(:your_entry_was_commented, :appname => APPLICATION_CONFIG['name']) %></p>

<p>User: <%= @comment.user.nickname %>, <%= @comment.user.email %></p>

<%= sanitize( RedCloth.new(@comment.comment).to_html.html_safe ) %>

URL: <%= link_to I18n.translate(:read)+"...", root_url + @comment.commentable.class.to_s.pluralize.downcase + 
  "/#{@comment.commentable.id}" %>

