<h1>SUBSCRIPTION <%= @subscription.name || I18n.translate(:unnamed) %> UPDATE</h1>
<em><%= I18n.translate(:to_edit_your_subscriptions_visit, 
:url => user_subscriptions_url(@subscription.user)) %></em>

<p><%= I18n.translate(:updated_entries, :count => @blog_entries.count ) -%></p>
<p><b>Filter:</b>
  <%= @subscription.blogable_type.blank? ? I18n.translate(:any_kind ) : subscription.blogable_type.camelize.pluralize -%><br/>
  TAGs: <%= @subscription.tag_list.blank? ? I18n.translate(:all_tags) : @subscription.tag_list %>
</p>
<%- for blog_entry in @blog_entries -%>

  <h2><%= link_to( blog_entry.title.upcase, 
            "http://#{DEFAULT_URL}/users/#{blog_entry.user_id}/#{blog_entry.class.to_s.pluralize.underscore}/#{blog_entry.id}" ) %></h2>

  <%= sanitize(
        RedCloth.new(blog_entry.body).to_html
      )
  %>
  
<%- end -%>