<%= user_settings_menu %>

<h1><%= title t(:set_or_change_your_avatar) -%></h1>

<%= image_tag(w3c_url(@user.avatar_url(:thumb)), :class => 'avatar_right_float',:style => 'margin-top: 10px;') %>


<%= form_for @user, :html => { :multipart => :true } do |f| %>

 
 <p>
     <%= f.label :avatar %>
     <%= f.file_field :avatar %>
 </p>
 
 <p>
     <%= f.label :clear_avatar, t(:or_clear_avatar) %>
     <%= f.check_box :clear_avatar %> <%= t(:clear_avatar_help) %>
 </p>

 <p>
     <%= f.label :use_gravatar, t(:or_use_your_gravatar_image).html_safe %>
     <%= f.check_box :use_gravatar %> <%= t(:for_email_address) %> <%= @user.email.downcase %>
 </p>
 
 <p>
    <%= f.label :submit %>
    <%= f.submit t(:submit) %> 
 </p>
 <p>
    <%= f.label :settings_link, t(:or_goto_without_saving_changes, :target => t(:user_settings_link)) %>
    <%= button(link_to((t(:user_settings_link)+sc(:nbsp)*2+t(:without_saving_changes_warning)).html_safe, user_settings_path )) %> <%=  %>
 </p>
<% end %>