<% title t(:blog_index), false %>
<% if @blog_entries.any? %>
  <center>
    <%= will_paginate @blog_entries %>
    <%= order_links %>
  </center>
  <hr>
  
  <div id='blog_index'>
    <% for blog_entry in @blog_entries %>
      <%= render :partial => 'blog_entry_header', :locals => { :blog_entry => blog_entry } %>
    <% end %>
  </div>
      
  <center>
    <%= will_paginate @blog_entries %>
  </center>
<% else %>
  <%= content_tag :div, :class => 'no_entries_found' do %>
    <%= t(:no_entries_found) %>
  <% end %>
<% end %>