<% title(t(:blog_index), false) unless @archive %>
<% title(t(:archive_for, :month => params[:month]).split("_").join('/'), false) if @archive %>
<% if @blog_entries.any? %>
  <div style='text-align: center;'>
    <%= will_paginate @blog_entries %>
    <%= order_links %>
  </div>
  <hr>
  
  <div id='blog_index'>
    <% for blog_entry in @blog_entries %>
      <%= render :partial => 'blog_entry_header', :locals => { :blog_entry => blog_entry } %>
    <% end %>
  </div>
     
  <p class='load_more' id='load_more'>
      <% if @blog_entries.total_pages > @blog_entries.current_page %>
        <%= link_to_function( t(:load_more)+" "+[params[:tag], (params[:month]||"").gsub(/_/,'/')].reject{|r| r.nil? ||r.blank? }.join(", "),
                      "insert_load_button( 'load_more','#{t(:loading)}',"+
                      "'#{ajax_path}'"+
                       ");return false;",
                       :id => 'load_more_link'
                    ) %>
      <% end %>
  </p> 
  <p style='text-align: center;'>
    <%= will_paginate @blog_entries %>
  </p>
<% else %>
  <%= content_tag :div, :class => 'no_entries_found' do %>
    <%= t(:no_entries_found) %>
  <% end %>
<% end %>